.base-view {
	padding: 10px;
	width: ~"calc(100% - 10px * 2)";
	height: ~"calc(100% - 10px * 2)";
	display: flex;
	flex-direction: column;
	overflow: hidden;

	.title {
		// height: 40px;
	}

	.toolbar {
		// height: 40px;
		display: flex;
		.ecn-editor {
			display: inline-block;
		}
	}

	.filter {
		// display: none;
		display: flex;
		height: 0;
		overflow: hidden;
		&.open {
			height: unset;
		}
	}

	.content {
		flex: 1;
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}
}

.ReactTable .rt-tr-group {
	flex: unset;
	min-height: 30px;
}

.ReactTable .rt-table {
	overflow: hidden;
}

.ReactTable .rt-tbody {
	overflow: visible;
}
