@button-color: #fff;
@button-back-color: #3b74b9;

@button-hover-back-color: #114d96;

@button-disabled-color: darkgray;
@button-disabled-back-color: #f2f2f2;

.ecn-button {
	display: inline-block;
	vertical-align: top;
	background-color: @button-back-color;
	border: 1px solid transparent;
	color: @button-color;
	height: 34px;
	line-height: 33px;
	margin: 9px 3px;
	padding: 0 15px;
	&:hover {
		background-color: @button-hover-back-color;
	}
	&:disabled {
		background-color: @button-disabled-back-color;
		color: @button-disabled-color;
		cursor: not-allowed;
	}
	>a {
		color: @button-color;
	}
	.material-icons {
		line-height: 33px;
	}
	&:active {
		transform: scale(.95, .95);
	}
}
