@mainBackground: #deeaf2;
.login-wrap {
	background-color: @mainBackground;
	width: 100%;
	height: 100%;

	.login-panel {
		background-color: white;
		width: 340px;
		// height: 250px;
		margin: auto;
		position: relative;
		top: 50%;
		transform: translateY(-50%);

		display: grid;
		grid-template-columns: 1fr auto 1fr;
		grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
		grid-template-areas:
			"logo logo logo"
			"error error error"
			"user user user"
			"pass pass pass"
			"login login login"
			"lang . recover";
		// justify-items: stretch;
		// grid-column-gap: 5px;
		// grid-row-gap: 5px;
		padding: 10px;
	}
	.error {
		background-color: lightcoral;
		color: red;
		height: 30px;
		grid-area: error;
	}
	.logo {
		grid-area: logo;
		background-image: url(./images/logo-login.svg);
		background-size: 230px 72px;
		background-repeat: no-repeat;
		background-position: center;
		// background-color: @mainBackground;
	}
	.user {
		grid-area: user;
	}
	.pass {
		grid-area: pass;
	}
	.login {
		grid-area: login;
	}
	.lang {
		grid-area: lang;
		padding-left: 10px;
	}
	.recover {
		grid-area: recover;
		justify-self: end;
		padding-right: 10px;

		font-size: 11px;
		color: #3b4248;
		background: transparent;
		opacity: 1;
		text-transform: none;
		margin: 0;

		&:hover{
			text-decoration: underline;
		}
	}

	.en{
		height: 30px;
		color: #3b4248;
		font-size: 11px;
		text-transform: uppercase;
		background: url(./images/flag-en.jpg) no-repeat left top scroll;
		padding-left: 30px;
		margin-right: 10px;
		opacity: 0.5;

		&.active, &:hover{
			opacity: 1;
		}
		&.de{
			background: url(./images/flag-de.jpg) no-repeat left top scroll;
		}
	}
}

