input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
    transition: color 9999s ease-out, background-color 9999s ease-out;
    -webkit-transition-delay: 9999s;
    transition-delay: 9999s;
}

.ecn-editor {
	padding: 5px 0;
	height: 34px;
	display: flex;

	.readonly() {
		background-color: #e9f2f8 !important;
		color: #555 !important;
	}

	.editor() {
		background: #fff none repeat scroll 0 0;
		border: 1px solid #c9d7e0;
		color: #707981;
		line-height: 34px;
		margin: 0 5px;
		padding: 0 10px;
		flex: 1;
		// width: ~"calc(100% - 32px)";
	}
	>label {
		line-height: 34px;
		&:first-child {
			text-align: right;
			display: inline-block;
			width: 130px;
			color: #333;
		}
	}
	>input {
		// vertical-align: middle;
		outline: none;
		&:not([type="checkbox"]):not([type="radio"]) {
			.editor();
		}
		&[type="checkbox"],
		&[type="radio"] {
			min-width: auto !important;
		}
	}
	>textarea {
		.editor();
		height: 150px;
		&.bigtextarea {
			width: 80%;
			height: 200px;
			min-height: 150px;
		}
	}
	>.display-field {
		.editor();
		.readonly();
		line-height: 33px;
		// display: inline-block;
		vertical-align: middle;
		&.nowrap {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}

	}
	.ecn-button {
		margin-top: 0;
		margin-bottom: 0;
		vertical-align: middle;
	}

	&.search-box {
		display: flex !important;
		padding: 8px 0;
		> input {
			flex: 1;
			width: unset !important;
			margin-right: 0 !important;
			padding-right: 0 !important;
			border-right: 0 !important;
		}

		button {
			cursor: pointer;
			color: transparent;
			&.clr {
				color: inherit;
			}
			background-color: transparent;
			width: 20px;
			margin: 0;
			padding: 0;
			border: 0;
			border-top: 1px solid #c9d7e0;
			border-bottom: 1px solid #c9d7e0;
			&:last-child {
				color: inherit !important;
				border-right: 1px solid #c9d7e0;
				background-image: url(./images/search-icon.png);
				background-repeat: no-repeat;
				background-clip: content-box;
				background-position-y: 10px;
				padding: 8px 0;
			}
		}
	}

}
