.header {
	z-index: 10;
	padding: 10px 20px;
	display: flex;
	box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.3);

	.sidebar-toggle {
		display: inline-block;
		background-image: url(./images/menu_close.png);
		width: 20px;
		// height: 14px;
		margin: 13px 0 13px 0;
	}

	.logo {
		display: inline-block;
		background-image: url(../login/images/logo-login.svg);
		background-size: 137px 39px;
		background-repeat: no-repeat;
		background-position-x: center;
		width: 137px;
		// height: 40px;
		width: 200px;
	}

	.logo2 {
		background-image: url(./images/proimmobilia.png);
		background-size: 163px 16px;
		background-position: center;
		background-repeat: no-repeat;
		width: 163px;
		margin-right: 20px;
	}

	.user-placeholder {
		color: rgba(0, 0, 0, 0.3);
		font-size: 36px;
		padding: 2px;
	}

	.user-menu {
		z-index: 9999;
	    background-color: #fff;
		border: 1px solid #7eaee8;
		display: none;
		padding: 0;
		margin: 0;
		position: absolute;
		right: 4px;
		top: 55px;

		list-style-type: none;

		li {
			padding: 2px 10px;
			&:hover {
				background-color: rgba(0, 64, 255, 0.1);
			}
		}

		.en{
			// height: 30px;
			color: #3b4248;
			font-size: 11px;
			text-transform: uppercase;
			background: url(../login/images/flag-en.jpg) no-repeat left top scroll;
			padding-left: 30px;
			margin-right: 10px;
			opacity: 0.5;

			&.active, &:hover{
				opacity: 1;
			}
			&.de{
				background: url(../login/images/flag-de.jpg) no-repeat left top scroll;
			}
		}

		&.open {
			display: block;
		}

		.user-title {
			display: inline-block;
		}

		&::before {
			background: url(./images/menu-top-arrow.png) no-repeat center center scroll;
			content: "";
			height: 9px;
			position: absolute;
			right: 23px;
			top: -9px;
			width: 13px;
		}
		.menu-separator {
			border-top: 1px solid #7eaee8;
			&:hover {
				background-color: white;
			}
		}
		.exit {
			background-image: url(./images/exit_icon.svg);
			background-size: 16px 16px;
			background-position: 3px center;
			background-repeat: no-repeat;
			padding-left: 30px;
			color: #3b4248;
			font-size: 11px;
			text-transform: uppercase;

		}

	}

}
