@import (css) url("https://fonts.googleapis.com/icon?family=Material+Icons");

html, button, input, select, textarea {
	font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
	font-size: 13px;
	line-height: 22px;
	font-weight: normal;
	color: #3b4248;
}

:focus {
	outline: none;
}

.left-line {
	background: #20aeed;
	width: 4px;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
}

.main-layout {
	margin-left: 4px;

	width: ~"calc(100% - 4px)";
	height: 100%;
	display: grid;
	grid-template-columns: 230px auto;
	grid-template-rows: 60px auto;
	grid-template-areas:
		"header header"
		"sidebar main";
	&.close {
		grid-template-areas:
			"header header"
			"main main";
		.sidebar {
			display: none;
		}
	}
	.header {
		grid-area: header;
	}
	.sidebar {
		grid-area: sidebar;
	}
	.main {
		grid-area: main;
		overflow: hidden;
	}
}
