.sidebar {
	box-shadow: 2px 2px 10px -2px rgba(0,0,0,0.3);
	// overflow-y: auto;
	overflow: hidden;
	background-color: #006a9a;

	ul {
		width: 100%;
		margin: 0;
		list-style-type: none;
		overflow: hidden;
	}

	li {
		min-height: 35px;

	}

	a {
		display: inline-block;
		width: 100%;
		height: 100%;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
		line-height: 34px;
	}

	.main-menu {
		padding: 0;

		> li {
			ul {
				width: ~"calc(100% - 40px)";
				background-color: white;
				list-style-type: circle;
				display: none;

				li > a {
					color: rgba(0,0,0,0.6);
					&.active, &:hover {
						background-color: rgba(0,0,0,0.1);
					}
				}
			}
			> a {
				color: white;
				padding-left: 40px;
				width: ~"calc(100% - 30px)";
				&:hover, &.active {
					background-color: white;
					color: rgba(0,0,0,0.6);
				}
				&.active + ul {
					display: block;
				}
			}
		}
	}

	.icon {
		background-image: url(./images/menu-sprite.png);
		background-repeat: no-repeat;

		@normal: 10px;
		@active: (@normal - 30px);

		&.link1 {
			background-position: @normal 6px;
			&.active, &:hover {
				background-position: @active 6px;
			}
		}
		&.link2 {
			background-position: @normal -30px;
			&.active, &:hover {
				background-position: @active -30px;
			}
		}
		&.link3 {
			background-position: @normal -64px;
			&.active, &:hover {
				background-position: @active -64px;
			}
		}
		&.link4 {
			background-position: @normal -100px;
			&.active, &:hover {
				background-position: @active -100px;
			}
		}
		&.link5 {
			background-position: @normal -134px;
			&.active, &:hover {
				background-position: @active -134px;
			}
		}
		&.link6 {
			background-position: @normal -166px;
			&.active, &:hover {
				background-position: @active -166px;
			}
		}
		&.link7 {
			background-position: @normal -202px;
			&.active, &:hover {
				background-position: @active -202px;
			}
		}
		&.link8 {
			background-position: @normal -238px;
			&.active, &:hover {
				background-position: @active -238px;
			}
		}
		&.link9 {
			background-position: @normal -272px;
			&.active, &:hover {
				background-position: @active -272px;
			}
		}
		&.link10 {
			background-position: @normal -308px;
			&.active, &:hover {
				background-position: @active -308px;
			}
		}
		&.link11 {
			background-position: @normal -342px;
			&.active, &:hover {
				background-position: @active -342px;
			}
		}
		&.link12 {
			background-position: @normal -378px;
			&.active, &:hover {
				background-position: @active -378px;
			}
		}
		&.link13 {
			background-position: @normal -414px;
			&.active, &:hover {
				background-position: @active -414px;
			}
		}
		&.link14 {
			background-position: @normal -448px;
			&.active, &:hover {
				background-position: @active -448px;
			}
		}
		&.link15 {
			background-position: @normal -482px;
			&.active, &:hover {
				background-position: @active -482px;
			}
		}
		&.link16 {
			background-position: @normal -516px;
			&.active, &:hover {
				background-position: @active -516px;
			}
		}
		&.link17 {
			background-position: @normal -552px;
			&.active, &:hover {
				background-position: @active -552px;
			}
		}

	}
}
